.notification {
  position: fixed;
  top: 57px;
  right: 25px;
  max-width: 320px;
  width: 100%;
  
  &__container {
    display: block;
    margin-bottom: 10px;
    padding: 15px 20px;
    width: 100%;
    border: 1px solid #fff;
    background-color: #000;
    text-align: left;
    cursor: pointer;
  }
    
  &__title {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 16px;
    text-align: center;
  }
  
  &__message {
    font-size: 14px;
    line-height: 1.3;
  }
}