.pagination {
  &__container {
    margin-top: 40px;
  }
  
  &__list {
    text-align: center;
  }
  
  &__item {
    display: inline-block;
    margin: 0 5px 10px;
    vertical-align: top;
    
    span {
      display: inline-block;
      padding: 0 5px;
      font-size: 18px;
      color: #fff;
      transition: all 0.2s linear;
      cursor: pointer;
      
      &:hover {
          color: $blue;
      }
    
      &.current {
          color: $yellow !important;
          cursor: default;
      }
    }
  }
}