.search {
  &__container {
    text-align: center;
    margin: 0px auto 40px;
  }
    
  &__input {
    display: block;
    border: 1px solid #fff;
    background-color: transparent;
    color: $blue;
    max-width: 400px;
    width: 100%;
    padding: 10px 15px;
    margin: 0px auto;
    font-size: 14px;
    transition: all 0.15s linear;
    outline: none;
    
    &:focus {
      border-color: $blue;
    }
  }
}