* {
  box-sizing: border-box;
  color: #fff;
  font-family: "Montserrat", sans-serif !important;
}

body {
  background-color: #000;
}

.color-error {
  color: #ff0000;
}

.App {
  font-family: sans-serif;
  text-align: center;
}

.container {
  max-width: 980px;
  width: 100%;
  display: block;
  margin: 0 auto;
}

.header {
  background-color: #000;
  border-bottom: 1px solid #fff;
}

.header__logo-container {
  float: left;
  width: 120px;
  text-align: center;
  padding: 10px 0;
}

.header__logo-container span {
  text-transform: uppercase;
  line-height: 0.85;
  display: block;
  color: #fff;
  transition: color 0.2s linear;
}

.header__logo-link {
  display: block;
  text-decoration: none;
}

.header__logo-link:hover .header__logo-white {
  color: #1af;
}

.header__logo-link:hover .header__logo-onblack {
  color: #ffff00;
}

.header__logo-white {
  font-size: 28px;
  font-weight: 700;
  letter-spacing: -1px;
}

.header__logo-onblack {
  font-size: 15px;
}

.nav__list {
  font-style: 0;
  text-align: right;
}

.nav__item {
  display: inline-block;
  vertical-align: top;
}

.nav__link {
  display: block;
  text-decoration: none;
  padding: 20px;
  color: #fff;
  transition: color 0.2s linear;
}

.nav__link:hover {
  color: #1af;
}

.main-content .container {
  border: 1px solid #fff;
  border-top: none;
  padding: 40px 0;
}

::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #fff;
}

::-moz-placeholder {
  /* Firefox 19+ */
  color: #fff;
}

:-ms-input-placeholder {
  /* IE 10+ */
  color: #fff;
}

:-moz-placeholder {
  /* Firefox 18- */
  color: #fff;
}

.search__container {
  text-align: center;
  margin: 0px auto 40px;
}

.search__input {
  display: block;
  border: 1px solid #fff;
  background-color: transparent;
  color: #1af;
  max-width: 400px;
  width: 100%;
  padding: 10px 15px;
  margin: 0px auto;
  font-size: 14px;
  transition: all 0.15s linear;
  outline: none;
}

.search__input:focus {
  border-color: #1af;
}

.film__list {
  font-size: 0;
}

.film__user {
  color: #fff;
  font-size: 18px;
  text-align: center;
  margin: 20px;
}

.film__image {
  height: 400px;
  width: 100%;
}

.film__item {
  display: inline-block;
  vertical-align: top;
  width: 30%;
  padding: 10px;
  border: 1px solid #fff;
  overflow: hidden;
  margin: 0px 16px 20px;
  transition: all 0.2s linear;
}

.film__item:hover {
  border-color: #1af;
  box-shadow: 0px 0px 20px 5px rgba(255, 255, 255, 0.25);
}

.film__link {
  display: block;
  text-decoration: none;
}

.film__title {
  font-size: 18px;
  margin: 0 0 10px;
  height: 36px;
}

.film__description {
  font-size: 12px;
  margin-top: 15px;
}

.film .bookmark {
  float: right;
}

.film .bookmark svg {
  font-size: 22px;
}

.film .bookmark svg path {
  fill: #fff;
  transition: all 0.2s linear;
}

.film .bookmark:hover svg path {
  fill: #11aaff !important;
}

.film .bookmark.added svg path {
  fill: #ffff00;
}

.pagination__container {
  margin-top: 40px;
}

.pagination__list {
  text-align: center;
}

.pagination__item {
  font-size: 18px;
  padding: 0 5px;
  margin: 0 5px 10px;
  display: inline-block;
  vertical-align: top;
  cursor: pointer;
  color: #fff;
  transition: all 0.2s linear;
}

.pagination__item:hover {
  color: #1af;
}

.pagination__item.current {
  color: #ffff00 !important;
  cursor: default;
}

.info {
  padding: 0 20px;
}

.info .color-yellow {
  color: #ffff00;
}

.info .color-blue {
  color: #1af;
}

.info__container {
  padding-left: 60px;
}

.info__title {
  font-size: 32px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 40px;
  padding: 0 40px;
}

.info__item {
  display: inline-block;
  vertical-align: top;
  width: 60%;
}

.info__image-container {
  text-align: center;
  width: 35%;
}

.info__link {
  color: #ffff00;
  text-decoration: none;
  transition: color 0.2s ease;
}

.info__link:hover {
  color: #1af;
}

.info__description {
  margin-bottom: 15px;
}

.info__overview {
  line-height: 1.5;
  font-size: 16px;
  margin: 25px 0 0;
}
