* {
    box-sizing: border-box;
    color: #fff;
    font-family: "Montserrat", sans-serif !important;
}

body {
    background-color: #000;
}

.color {
    &-error {
        color: #ff0000;
    }
    
    &-yellow {
        color: $yellow;
    }
    
    &-blue {
        color: $blue;
    }
}

.rsa {
    position: relative;
}

.App {
    font-family: sans-serif;
    text-align: center;
}

.container {
    max-width: 980px;
    width: 100%;
    display: block;
    margin: 0 auto;
}

.header {
    background-color: #000;
    border-bottom: 1px solid #fff;
  
    &__logo {
        &-container {
            float: left;
            width: 120px;
            text-align: center;
            padding: 10px 0;
          
            span {
                text-transform: uppercase;
                line-height: 0.85;
                display: block;
                color: #fff;
                transition: color 0.2s linear;
            }
        }
        
        &-link {
            display: block;
            text-decoration: none;
            
            &:hover {
                .header__logo-white {
                    color: $blue;
                }
                
                .header__logo-onblack {
                    color: $yellow;
                }
            }
        }
        
        &-white {
            font-size: 28px;
            font-weight: 700;
            letter-spacing: -1px;
        }
        
        &-onblack {
            font-size: 15px;
        }
    }
    
}

.nav {
    &__list {
        font-style: 0;
        text-align: right;
    }
    
    &__item {
        display: inline-block;
        vertical-align: top;
    }
    
    &__link {
        display: block;
        text-decoration: none;
        padding: 20px;
        color: #fff;
        transition: color 0.2s linear;
        
        &:hover {
            color: $blue;
        }
    }
}

.main-content {
    .container {
        border: 1px solid #fff;
        border-top: none;
        padding: 40px 0;
    }
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #fff;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #fff;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #fff;
}
:-moz-placeholder { /* Firefox 18- */
  color: #fff;
}
    
.search {
    &__container {
        text-align: center;
        margin: 0px auto 40px;
    }
    
    &__input {
        display: block;
        border: 1px solid #fff;
        background-color: transparent;
        color: $blue;
        max-width: 400px;
        width: 100%;
        padding: 10px 15px;
        margin: 0px auto;
        font-size: 14px;
        transition: all 0.15s linear;
        outline: none;
        
        &:focus {
            border-color: $blue;
        }
    }
}

.film {
    &__list {
        font-size: 0;
    }
    
    &__user {
        color: #fff;
        font-size: 18px;
        text-align: center;
        margin: 20px;
    }
    
    &__image {
        height: 400px;
        width: 100%;
    }
    
    &__item {
        display: inline-block;
        vertical-align: top;
        width: 30%;
        padding: 10px;
        border: 1px solid #fff;
        overflow: hidden;
        margin: 0px 16px 20px;
        transition: all 0.2s linear;
        
        &:hover {
            border-color: $blue;
            box-shadow: 0px 0px 20px 5px rgba(255, 255, 255, 0.25);
        }
    }
    
    &__link {
        display: block;
        text-decoration: none;
    }
    
    &__title {
        font-size: 18px;
        margin: 0 0 10px;
        height: 36px;
    }
    
    &__description {
        font-size: 12px;
        margin-top: 15px;
    }
    
    .bookmark {
        float: right;
        
        svg {
            font-size: 22px;
            
            path {
                fill: #fff;
                transition: all 0.2s linear;
            }
        }
        
        &:hover {
            svg path {
                fill: rgb(17, 170, 255) !important;
            }
        }
        
        &.added {
            svg path {
                fill: #ffff00;
            }
        }
    }
}

.pagination {
    &__container {
        margin-top: 40px;
    }
    
    &__list {
        text-align: center;
    }
    
    &__item {
        font-size: 18px;
        padding: 0 5px;
        margin: 0 5px 10px;
        display: inline-block;
        vertical-align: top;
        cursor: pointer;
        color: #fff;
        transition: all 0.2s linear;
        
        &:hover {
            color: $blue;
        }
        
        &.current {
            color: $yellow !important;
            cursor: default;
        }
    }
}

.info {
    padding: 0 20px;
    
    .color {
        &-yellow {
            color: $yellow;
        }
        
        &-blue {
            color: $blue;
        }
    }
    
    &__container {
        padding-left: 60px;
    }
    
    &__title {
        font-size: 32px;
        font-weight: bold;
        text-align: center;
        margin-bottom: 40px;
        padding: 0 40px;
    }
    
    &__item {
        display: inline-block;
        vertical-align: top;
        width: 60%;
    }
    
    &__image {
        &-container {
            text-align: center;
            width: 35%;
        }
    }
    
    &__link {
        color: $yellow;
        text-decoration: none;
        transition: color 0.2s ease;
        
        &:hover {
            color: $blue;
        }
    }
    
    &__description {
        margin-bottom: 15px;
    }
    
    &__overview {
        line-height: 1.5;
        font-size: 16px;
        margin: 25px 0 0;
    }
    
    &__button {
        outline: none;
        
        .bookmark {
            display: inline-block;
            vertical-align: middle;
        }
        
        &-container {
            margin-top: 40px;
        }
        
        &-text {
            font-size: 16px;
            display: inline-block;
            vertical-align: bottom;
        }
        
        background-color: transparent;
        padding: 10px 20px;
        cursor: pointer;
        border: 1px solid #fff;
        box-shadow: 0px 0px 20px 5px rgba(255, 255, 255, 0.5);
        transition: all 0.2s linear;
        
        svg {
            font-size: 18px;
            margin-right: 10px;
            
            path {
                transition: all 0.2s linear;
            }
        }
        
        &:hover {
            box-shadow: 0px 0px 20px 5px rgba(17, 170, 255, 0.5) !important;
            
            svg path {
                fill: $blue !important;
            }
        }
        
        &.added {
            box-shadow: 0px 0px 20px 5px rgba(255, 255, 0, 0.5);
            
            svg path {
                fill: $yellow;
            }
        }
    }
}

.notification {
    max-width: 320px;
    width: 100%;
    position: fixed;
    top: 57px;
    right: 25px;
    
    &__container {
        border: 1px solid #fff;
        padding: 15px 20px;
        margin-bottom: 10px;
        cursor: pointer;
        background-color: #000;
    }
    
    &__title {
        text-align: center;
        font-weight: bold;
        margin-bottom: 10px;
        display: block;
        font-size: 16px;
    }
    
    &__message {
        font-size: 14px;
        line-height: 1.3;
    }
}

.recommendations {
    &__title {
        text-align: center;
        font-size: 24px;
        margin-bottom: 30px;
    }
}